{% extends 'base.html.twig' %}

{% block title %}Nouveau Mot de passe{% endblock %}

{% block body %}
<div class="glass"><div class="neon-accueil">
<div class="container mb-4">
    <h1 class="text-center text-uppercase my-4">Changer le mot de passe</h1>
        {{ form(form) }}
</div></div></div>
{% endblock %}