{% extends 'base.html.twig' %}

{% block body %}
  <h1>Mot de passe oublié</h1>
  <form action="" method="post">
    <div class="form-group">
      <label for="email" class="form-label">
        Email du compte
      </label>
      <input name="email" id="email" type="email" class="form-control" placeholder="Saisissez l'adresse mail de votre compte">
    </div>
    <button class="btn btn-secondary" type="submit">Envoyer l'email de récupération</button>
  </form>
{% endblock %}