{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
		<header class="img-bg-header vh-100 d-flex justify-content-center align-items-center flex-column">
			<div class="text-center text-white">
				<h1 class="font-custom">BuildGenius</h1>
				<h2 class="lh-base fw-lighter mt-4 darker-bg px-3">Découvrez une expérience informatique sur mesure, où nous vous offrons des solutions personnalisées de montage PC et d'assistance informatique pour répondre à vos besoins uniques. Faites confiance à notre expertise pour transformer votre vision en réalité informatique.</h2>
			</div>
		</header>
	<main>
		<section class="container my-3" id="services">
				<div class="row">
					<h2 class="font-custom fw-bolder text-center">MES SERVICES</h2>
					<hr class="section-divider">
				</div>
			<div class="container d-md-flex d-sm-flex my-3">
				<div class="container">
					<div class="row">
						<h3 class="fw-bolder text-center font-custom">Montage PC</h3>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<p class="text-center my-3">Laissez-nous vous guider pas à pas dans le processus pour déterminer exactement quel type d'ordinateur répond le mieux à vos besoins.</p>
						</div>
						<div class="vertical col-md-6 col-sm-12 main-bg text-light sm:w-75 mx-auto my-3 rounded">
							<a href="{{ path('quiz_pc') }}" class="text-light p-5">
								<p class="text-center">Guider par des questions (Quiz)</p>
							</a>
						</div>
						<div class="vertical col-md-6 col-sm-12 main-bg text-light sm:w-75 mx-auto my-3 rounded">
							<a href="{{ path('app_products') }}" class="text-light p-5">
								<p class="text-center my-3">Choix des composants</p>
							</a>
						</div>
						<div class="col-md-6 col-sm-12 my-3">
							<p class="text-center">Explorez notre sélection complète de composants PC et créez l'ordinateur de vos rêves en choisissant chaque élément selon vos préférences et votre budget.</p>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
							<h3 class="fw-bolder text-center font-custom">Assistance Informatique</h3>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<p class="text-center my-3">Répondez à quelques questions simples pour nous aider à comprendre rapidement votre problème informatique et à vous fournir la meilleure assistance possible.</p>
						</div>
						<div class="vertical col-md-6 col-sm-12 secondary-bg text-light sm:w-75 mx-auto my-3 rounded">
							<a href="{{ path('quiz_support') }}" class="text-dark p-5">
								<p class="text-center">Guider par des questions (Quiz)</p>
							</a>
						</div>
							<div class="vertical col-md-6 col-sm-12 secondary-bg text-light sm:w-75 mx-auto my-3 rounded">
								<a href="#contact" class="text-dark p-5">
										<p class="text-center">Formulaire de contact</p>
									</a>
							</div>
							<div class="col-md-6 col-sm-12">
								<p class="text-center my-3">Si vous préférez expliquer votre problème de manière détaillée, utilisez notre formulaire de contact pour nous envoyer un message et nous reviendrons vers vous dès que possible pour vous aider.</p>
							</div>
					</div>
				</div>
			</div>
		</section>

		<section class="container d-md-flex gap-3 w-75 m-auto align-items-center" id="about">
				<div class="container">
					<div>
						<h2 class='fw-bold text-center font-custom'>A propos</h2>
						<hr class="section-divider">
					</div>
				</div>
				<div class="container">
				<p>Bonjour, je suis Rafik. Depuis mon enfance, l'informatique m'a toujours fasciné. J'ai développé une véritable passion pour les ordinateurs, allant jusqu'à assembler le mien ainsi que ceux de mes proches.</p>
				<p>Ce site a pour vocation de vous proposer les ordinateurs les plus performants, parfaitement adaptés à vos besoins.</p>
				<p>Que vous soyez novice ou expert, vous trouverez ici des ressources utiles, comme des quiz, pour vous aider à choisir l'ordinateur qui vous convient le mieux.</p>
				<p>Ensemble, partons à la découverte de ce monde fascinant et trouvons l'ordinateur parfait pour accompagner vos aventures numériques.</p>
				</div>
		</section>

		<section class="img-bg-contact vh-100 d-flex justify-content-center align-items-center flex-column" id="contact">
				<h2 class="text-center fs-1 text-light font-custom">CONTACT</h2>
				<hr class="section-divider">
				<form action="https://formspree.io/f/mqkrgowe" method="POST" class="container w-75">
					<div class="row m-3 align-items-center">
						<label for="name" class="form-label text-light col-auto">Prénom:</label>
						<input type="name" class="form-control col rounded-pill" id="name" name="name">
					</div>
					<div class="row mb-3 align-items-center">
						<label for="email" class="form-label text-light col-auto">Email:</label>
						<input type="email" class="form-control col rounded-pill" id="email" name="email">
					</div>
					<div class="row mb-3 align-items-center">
						<label for="message" class="form-label text-light col-auto">Message:</label>
						<textarea class="form-control col rounded-pill" id="message" name="message"></textarea>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Envoyer</button>
					</div>
				</form>
		</section>

		<section class="container my-5" id="faq">
			<h2 class="font-custom fw-bolder text-center">F.A.Q</h2>
			<hr class="section-divider">
			<h5>Quels sont les avantages de faire assembler mon PC sur mesure plutôt que d'acheter un PC préfabriqué ?</h5>
			<p>L'avantage principal de faire assembler un PC sur mesure est que vous pouvez choisir chaque composant en fonction de vos besoins spécifiques, ce qui vous permet d'obtenir un ordinateur parfaitement adapté à vos besoins en termes de performances, de budget et de fonctionnalités.</p>
			<h5>Quels sont les composants nécessaires pour assembler un PC de bureau ?</h5>
			<p>Les composants nécessaires pour assembler un PC de bureau incluent un processeur, une carte mère, de la mémoire RAM, un disque dur ou un SSD, une carte graphique (si nécessaire), une alimentation électrique, un boîtier et un système d'exploitation.</p>
			<h5>Offrez-vous une garantie sur les services de montage ?</h5>
			<p>Oui, nous offrons une garantie sur nos services de montage PC. Nous nous engageons à assurer le bon fonctionnement de votre ordinateur assemblé sur mesure. En cas de problème, veuillez nous contacter et nous résoudrons rapidement tout dysfonctionnement.</p>
			<h5>Comment fonctionne le processus d'assistance à distance ?</h5>
			<p>Pour l'assistance à distance, nous utilisons des logiciels sécurisés qui nous permettent de prendre le contrôle de votre ordinateur à distance pour diagnostiquer et résoudre les problèmes. Vous n'avez qu'à télécharger un petit programme et nous vous guiderons à travers le processus.</p>
			<h5>Quels sont les tarifs de vos services d'assistance informatique ?</h5>
			<p>Les tarifs d'assistance informatique varient en fonction de la nature du problème et du type de service demandé. Pour obtenir un devis précis, veuillez nous contacter avec une description détaillée de votre problème.</p>
		</section>
	</main>
{% endblock %}
