{% extends 'backoffice.html.twig' %}

{% block title %}Questions{% endblock %} {# Titre de la page #}

{% block body %} {# Contenu principal de la page #}
	<div>
		{{ form(form) }}
	</div>
        <div>
        <!-- Affichage du tableau des quiz -->
        <table class="table table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Questions</th>
            <th scope="col">Quiz</th>
        </tr>
        {% for question in questions %}
        <tr>
            <th scope="row">{{ question.id }}</th>
            <td>{{ question.name }}</td>
            <td>{{ question.quiz.id }}</td>
        </tr>
        {% endfor %}
        </table>
        </div>
{% endblock %}
